<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StudentsGetLink" value="https://localhost:44357/api/values/"/>
    <add key="GroupGetNameLink" value="https://localhost:44357/api/group/name/"/>
    <add key="GroupsLink" value="https://localhost:44357/api/group/"/>
    <add key="RegionGetLink" value="https://localhost:44357/api/region/"/>
    <add key="DepartmentGetLink" value="https://localhost:44357/api/department/"/>
    <add key="CityLocalGetLink" value="https://localhost:44357/api/citylocal/"/>
    <add key="SchoolGetLink" value="https://localhost:44357/api/school/"/>
    <add key="StudentsFilterLink" value="https://localhost:44357/api/values/filter/"/>
  </appSettings>
</configuration>